@tailwind base;
@tailwind components;
@tailwind utilities;

.ficon {
  box-shadow: inset -4px 4px 4px 0px hsla(0, 0%, 100%, 0.5);
}

.faicon {
  box-shadow: inset -2px 2px 2px 0px hsla(0, 0%, 100%, 0.5);
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.btn-open {
  transform: rotate(45deg);
}

.swiper {
  width: 100%;
  height: 100%;
}
